<div class="d-flex flex-column bg-p menu shadow">
    <h5 class="nav-link text-white">Menu</h5>
    <ul class="nav flex-column mb-auto">
        <li class="nav-item btn-hover" >
            <a class="nav-link text-white" [routerLink]="['/admin/#']" routerLinkActive="link-active">
                Panel
            </a>
        </li>
        <li class="nav-item btn-hover" >
            <a class="nav-link text-white" [routerLink]="['/admin/lote']" routerLinkActive="link-active">
                Lotes
            </a>
        </li>
        <li class="nav-item btn-hover" >
            <a class="nav-link text-white" [routerLink]="['/admin/#']" routerLinkActive="link-active">
                Vecinos
            </a>
        </li>
        <li class="nav-item btn-hover" >
            <a class="nav-link text-white" [routerLink]="['/admin/#']" routerLinkActive="link-active">
                Pagos
            </a>
        </li>
        <li class="nav-item btn-hover" >
            <a class="nav-link text-white" [routerLink]="['/admin/#']" routerLinkActive="link-active">
                Facturas
            </a>
        </li>
    </ul>
</div>