<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand text-s" href="#">Agua Sis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="#">Servicio</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-4 pt-md-11">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2">
            <img class="img-fluid" src="../../../../assets/images/contract.svg" alt="Sistema de Agua">
        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1">
            <h1 class="display-3 text-center text-md-left text-s bold">Bienvenido</h1>
            <p class="lead text-center text-md-left text-muted">Sistema para control de agua potable <br>
                OTB de vecinos.
            </p>
            <div class="text-center text-md-left">
                <a href="/login" class="btn btn-primary btn-lg shadow">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>

<section class="py-8 py-md-11">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="text-p">
                    <div class="mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
                            <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                            <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </div>
                    <h3>Control de Pagos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi dolorem totam natus eos obcaecati pariatur optio maiores, sint facere assumenda, fugit qui beatae nam nihil dignissimos illum voluptatum quas.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="text-p">
                    <div class="mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                        </svg>
                    </div>
                    <h3>Impresion de Facturas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi dolorem totam natus eos obcaecati pariatur optio maiores, sint facere assumenda, fugit qui beatae nam nihil dignissimos illum voluptatum quas.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="text-p">
                    <div class="mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                        </svg>
                    </div>
                    <h3>Lista Usuarios</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi dolorem totam natus eos obcaecati pariatur optio maiores, sint facere assumenda, fugit qui beatae nam nihil dignissimos illum voluptatum quas.</p>
                </div>
            </div>
        </div>
    </div>
</section>