a:hover {
    background: #276678 !important;
}

img {
    margin-right: 17%;
    margin-left: 17%;
    height: 15rem;
}

.pb-8, .py-8 {
    padding-bottom: 3rem;
}

.pt-8, .py-8 {
    padding-top: 3rem;
}

@media (min-width: 768px){
.pt-md-11, .py-md-11 {
    padding-top: 6rem!important;
}
.pb-md-11, .py-md-11 {
    padding-bottom: 6rem!important;
}

img {
    margin-right: 0%;
    margin-left: 0%;
    height: 20rem;
}
}

@media (max-width: 400px) {
    img {
        margin-right: 0%;
        margin-left: 0%;
        height: 20rem;
    }
}