<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand text-s" href="/">Agua Sis</a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHome" aria-controls="navbarHome" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarHome">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-5">
                        <a class="nav-link" href="#">
                            Servicios
                        </a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link" href="#">
                            Nosotros
                        </a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link" href="#">
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container pt-4 pt-md-11">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2">
            <img class="img-fluid" src="../../../../assets/images/contract.svg" alt="Sistema de Agua">
        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1">
            <h1 class="display-3 text-center text-md-left">Bienvenido</h1>
            <p class="lead text-center text-md-left text-muted">Sistema para control de agua potable <br>
                OTB de vecinos.
            </p>
            <div class="text-center text-md-left">
                <a href="/login" class="btn bg-s shadow">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>

<div class="container py-8 py-md-11">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="text-p">
                <h3>Control de Pagos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi dolorem totam natus eos obcaecati pariatur optio maiores, sint facere assumenda, fugit qui beatae nam nihil dignissimos illum voluptatum quas.</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="text-p">
                <h3>Impresion de Facturas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi dolorem totam natus eos obcaecati pariatur optio maiores, sint facere assumenda, fugit qui beatae nam nihil dignissimos illum voluptatum quas.</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="text-p">
                <h3>Lista Usuarios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi dolorem totam natus eos obcaecati pariatur optio maiores, sint facere assumenda, fugit qui beatae nam nihil dignissimos illum voluptatum quas.</p>
            </div>
        </div>
    </div>
</div>