img {
    margin-right: 17%;
    margin-left: 17%;
    height: 15rem;
}

.pb-8, .py-8 {
    padding-bottom: 3rem;
}

.pt-8, .py-8 {
    padding-top: 3rem;
}

.btn-primary:hover {
    color: #fff;
    background-color: #276678;
    border-color: #276678;
}

.btn-primary {
    color: #fff;
    background-color: #1687a7;
    border-color: #1687a7;
}


@media (min-width: 768px){
.pt-md-11, .py-md-11 {
    padding-top: 6rem!important;
}
.pb-md-11, .py-md-11 {
    padding-bottom: 6rem!important;
}

img {
    margin-right: 0%;
    margin-left: 0%;
    height: 20rem;
}

.text-md-left {
    text-align: left !important;
}
}

@media (max-width: 400px) {
    img {
        margin-right: 0%;
        margin-left: 0%;
        height: 20rem;
    }
}