/* You can add global styles to this file, and also import other style files */
.text-p {
    color: #276678 !important;
    text-decoration: none;
}

.text-s {
    color: #1687a7 !important;
    text-decoration: none;
}

.bg-p {
    background: #276678 !important;
    color: #fff !important;
}
.bg-s {
    background: #1687a7 !important;
    color: #fff !important;
}
.bg-lp {
    background: #d3e0ea !important;
}
.bg-ls {
    background: #f6f5f5 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #276678;
    border-color: #276678;
}

.btn-primary {
    color: #fff;
    background-color: #1687a7;
    border-color: #1687a7;
}